.sliderContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b3aeae;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.button {
    background: none;
    border: none;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.controls {
    position: absolute;
    bottom: 40px;  /* Разместили внизу */
    right: 10px;   /* Разместили в правом нижнем углу */
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
    padding: 5px 15px;
    border-radius: 8px;
}

.text {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.prevButton {
    left: 20px;
}
.nextButton {
    right: 20px;
}