.container {
    text-align: center;
    padding: 20px 20px 0 200px; /* Добавляем равные отступы слева и справа */
    max-width: 1600px; /* Ограничиваем ширину контейнера */
    margin: 0 0 0 210px; /* Центрируем по горизонтали */
}

.cardContainer {
    display: flex;
    justify-content: space-evenly; /* Равномерно распределяем карточки */
    gap: 20px;
    flex-wrap: wrap; /* Для адаптации на маленьких экранах */
}

.requestButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.requestButton:hover {
    background-color: #45a049;
}

.formContainer {
    margin-top: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
}

.formContainer h2 {
    margin-bottom: 15px;
}

.formContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formContainer button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.formContainer button:hover {
    background-color: #45a049;
}
