@import url('https://fonts.googleapis.com/css2?family=Franklin+Gothic+Medium&display=swap');

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Новый шрифт */
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1; /* Поверх слайдера */
    transition: background 0.3s ease-in-out; /* Плавное изменение цвета */
}

.transparent {
    background: rgba(255, 255, 255, 0.4); /* Белый прозрачный */
}

.black {
    background: #181717; /* Черный */
}



.logoImage {
    width: 150px; /* Укажи нужный размер */
    height: auto;
    display: block;
    transition: opacity 0.3s ease-in-out; /* Плавная смена */

}

.logo:hover {
    color: black; /* Отключаем изменение цвета при наведении */
}

.navList {
    list-style: none;
    padding: 20px;
}


/* Цвет ссылок */
.navList a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    transition: 0.3s;
}


/* Цвет ссылок на главной */
.transparent .navList a {
    color: #181818;
}

/* Цвет ссылок на остальных страницах */
.black .navList a {
    color: white;
}

.navList li {
    margin-bottom: 20px;
}

/* Исправленный стиль активной ссылки */
.navList a.activeLink {
    font-weight: bold;
    text-decoration: none;
    color: #837959 !important; /* Добавляем !important, чтобы цвет не переопределялся */
}

.navList a:hover {
    color: #837959
}
