@import url('https://fonts.googleapis.com/css2?family=Franklin+Gothic+Medium&display=swap');

.aboutUs {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Новый шрифт */
    padding: 20px;
    text-align: center; /* Центрирование текста внутри контейнера */
}

h1 {
    margin-left: 300px;
    font-size: 2rem; /* Устанавливаем размер шрифта */
    font-weight: bold; /* Делаем заголовок жирным */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.team {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Новый шрифт */
    color: #d2cbcb;
    display: flex;
    margin-left: 370px;
    gap: 20px;
    justify-content: center; /* Центрируем команду по горизонтали */
}

.office {
    margin-top: 40px;
}

.officePhotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    gap: 20px; /* Отступ между изображениями */
    justify-content: center; /* Центрирование */
    align-items: center;
    margin-top: 20px;
}

.officePhoto {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 180px;
}

.officePhoto img {
    max-width: 100%;
    margin: 5px;
    padding: 10px;
    height: auto;
    border-radius: 20px; /* Закругление углов */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); /* Тень */
}
